@import 'base/_variables';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: bold;
}

img {
	width: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-family !important;
	position: relative;
	transition: all 0.7s ease;
}

a {
	color: $primary !important;
	transition: all 0.7s ease;

	&:hover {
		color: $primary !important;
		text-decoration: none;
		transition: all 0.7s ease;
		font-size: 18px;
	}
}

img {
    transition: all 0.7s ease;
}

img:hover {
    transition: all 0.7s ease;
    transform: scale(0.9, 0.9);
}