$font-family: 'Srisakdi', cursive;
$primary: #BCE1FB;
$secondary: rgb(166, 228, 231);
$black: #000;
$white: #fff;

// media queries
$small-devices: 600px; //max width
$tablets: 601px; // min width
$landscape-tablets: 768px; //min width
$large-devices: 992px; //min width
$extra-large: 1200px; //min width