@import 'base/_color';
@import 'base/_variables';
@import 'base/_reset';
@import 'layout/_extend';
@import 'layout/_mixin';
@import 'layout/_theme';

.icons {
    position: fixed;
    display: inline-block;
    top: 280px;
    left: 55px;

    svg {
        margin-bottom: 10px;
        font-size: 20px;
    }
}

button {
    font-weight: bold !important;
    color: $primary;
    padding: 6px 15px;
}

header {

    .bg-transparent {
        background-color: transparent !important;
        position: absolute;
        width: 100%;

        .logo {
        
            img {
                width: 70%;
            }
        }

        .menu {

            ul {

                li {
                    padding: 10px;

                    a {
                        font-size: 18px;
                        color: $black !important;
                        font-weight: bold !important;
                    }
                }
            }
        }
    }
}

.banner-section {
    background: url(../../assets/images/bg.jpg);
    padding: 100px 0 0;

    @include respond-to(handhelds)
    {
        text-align: center !important;
    }

    .text {
        h1 {
            font-weight: bold;
            font-size: 4vw;

            @include respond-to(smallDevices)
            {
                font-size: 5vw !important;
            }
        }

        h5 {
            font-weight: bold;
            font-size: 18px;
            padding: 20px 0;

            @include respond-to(handhelds)
            {
                padding: 10px 0 !important
            }
        }
    }

    .image {
        
        img {
            width: 100%;
        }
    }
}

#features {
    padding: 100px 0;

    @include respond-to(smallDevices)
    {
        padding: 50px 0 !important;
    }

    .title-div {
        @extend %title;
    }

    .row-1 {
        margin: 50px 0 100px;

        @include respond-to(smallDevices) 
        {
            margin: 50px 0 !important;
        }
    }

    .row-1, .row-2 {
        
        .text {
            @include respond-to(smallDevices)
            {
                text-align: center !important;
                padding: 10px 0 !important;
            }

            span {
                font-weight: bold;
                font-size: 40px;
            }

            h2 {
                font-weight: bold;
                font-size: 3vw;

                @include respond-to(smallDevices)
                {
                    font-size: 4vw !important;
                }

                @include respond-to(handhelds)
                {
                    font-size: 7vw !important;
                }
            }
        }
    }
}

#services {

    .title-div {
        @extend %title;
    }

    .wrapper {
        box-shadow: 8px 10px 30px -10px rgba(0, 0, 0, 0.1);
        margin: 15px 0;
        padding: 40px 35px;
        @include transition(all 0.7s ease);

        &:hover {
            @include transition(all 0.7s ease);
            background: $bg;
            transform: scale(.9);

            .icon {

                &::after {
                    top: 26px;
                    left: 40px;
                    @include transition(all 0.5s linear);
                }
            }
        }

        h3 {
            font-weight: bold;
            margin: 20px 0;
        }

        .icon {

            &::after {
                content: '';
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: -webkit-gradient(linear, left top, right top, from(transparent), to($primary));
                background: linear-gradient(to right, transparent, $primary);
                position: absolute;
                top: 44px;
                left: 55px;
                @include transition(all 0.5s linear);
            }

            svg {
                font-size: 25px;
            }
        }
    }
}