@import 'base/_color';
@import 'base/_variables';
@import 'base/_reset';
@import 'layout/_extend';
@import 'layout/_mixin';
@import 'layout/_theme';

.icons {
    position: fixed;
    display: inline-block;
    top: 280px;
    left: 55px;

    svg {
        margin-bottom: 10px;
        font-size: 20px;
    }
}

button {
    font-weight: bold !important;
    color: $primary;
    padding: 6px 15px;
}

header {
    .bg-transparent {
        // background-color: transparent !important;
        width: 100%;
        position: absolute;

        .logo {
        
            img {
                width: 70%;
            }
        }

        .menu {

            ul {

                li {
                    padding: 10px;

                    a {
                        font-size: 18px;
                        color: $black !important;
                        font-weight: bold !important;
                    }
                }
            }
        }

        .navbar-collapse {

            @include respond-to(smallDevices)
            {
                background-color: $nav-bg;
                z-index: 999;
            }
        }
    }
}

.banner-section {
    background: url(../../assets/images/bg.jpg);
    padding: 100px 0 0;

    @include respond-to(handhelds)
    {
        text-align: center !important;
    }

    .text {
        h1 {
            font-weight: bold;
            font-size: 4vw;

            @include respond-to(smallDevices)
            {
                font-size: 5vw !important;
            }
        }

        h5 {
            font-weight: bold;
            font-size: 18px;
            padding: 20px 0;

            @include respond-to(handhelds)
            {
                padding: 10px 0 !important
            }
        }
    }

    .image {
        
        img {
            width: 100%;

            @include respond-to(smallDevices)
            {
                width: 50% !important;
                margin: 30px 0 !important;
            }
        }
    }
}

#features {
    padding: 100px 0;

    @include respond-to(smallDevices)
    {
        padding: 50px 0 !important;
    }

    .title-div {
        @extend %title;
    }

    .row-1 {
        margin: 50px 0 100px;

        @include respond-to(smallDevices) 
        {
            margin: 50px 0 !important;
        }
    }

    .row-1, .row-2 {
        
        .text {
            @include respond-to(smallDevices)
            {
                text-align: center !important;
                padding: 10px 0 !important;
            }

            span {
                font-weight: bold;
                font-size: 40px;
            }

            h2 {
                font-weight: bold;
                font-size: 3vw;

                @include respond-to(smallDevices)
                {
                    font-size: 4vw !important;
                }

                @include respond-to(handhelds)
                {
                    font-size: 7vw !important;
                }
            }
        }
    }
}

#services {
    padding: 0 0 100px;
    
    .title-div {
        @extend %title; 

        p {
            margin: 30px 0 !important;
        }
    }

    .wrapper {
        box-shadow: 8px 10px 30px -10px rgba(0, 0, 0, 0.1);
        margin: 15px 0;
        padding: 40px 35px;
        @include transition(all 0.7s linear);

        &:hover {
            @include transition(all 0.7s linear);
            transform: scale(.9);

            .icon {

                &::after {
                    left: 40px;
                    top: 26px;
                    @include transition(all 1s linear);
                }
            }
        }

        h3 {
            font-weight: bold;
            margin: 20px 0;
        }

        p {
            font-size: 18px;
        }

        .icon {

            &::after {
                content: '';
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: -webkit-gradient(linear, left top, right top, from(transparent), to($primary));
                background: linear-gradient(to right, transparent, $primary);
                position: absolute;
                top: 44px;
                left: 55px;
                @include transition(all 1s linear);
            }

            svg {
                font-size: 25px;
            }
        }
    }
}

#counter {
    background: $primary;
    color: $white;
    padding: 80px 0;
    text-align: center;

    @include respond-to(smallDevices)
    {
        padding: 50px 0 !important;
    }

    .wrapper {

        @include respond-to(smallDevices) 
        {
            padding: 20px 0 !important;
        }

        svg {
            font-size: 40px;
        }

        span {
            font-weight: bold;
            margin: 20px 0;
            font-size: 30px;
            display: block;
        }

        h4 {
            font-weight: bold;
            font-size: 18px;
        }
    }

    .counter {
        animation-duration: 1s;
        animation-delay: 0s;
    }
}

#testimonial {
    padding: 80px 0px;
    text-align: center;

    @include respond-to(smallDevices)
    {
        padding: 80px 0 60px;
    }

    .title-div {
        @extend %title;
    }

    .sliders {
        img {
            width: 165px;
        }

        p {
            font-size: 20px;
            margin: 25px 0 20px;
        }

        h3 {
            font-weight: bold;

            @include respond-to(smallDevices)
            {
                font-size: 22px !important;
            }
        }
    }

    .images {
        margin: 40px 0 0;

        img {
            width: 70%;

            @include respond-to(smallDevices)
            {
                margin-bottom: 20px !important;
                width: 50% !important;
            }
        }
    }
}

#about {
    padding: 80px 0;
    background-color: $bg;

    @include respond-to(smallDevices)
    {
        text-align: center !important;
    }

    .title-div {
        @extend %title;

        p {
            margin: 30px 0 !important;
        }
    }

    img {
        @include respond-to(smallDevices)
        {
            margin-bottom: 50px !important;
        }
    }

    .texts {
        h3 {
            font-weight: bold;
        }

        p {
            font-size: 18px;
            margin: 20px 0;
        }

        span {
            line-height: 30px;
            font-size: 16px;
        }

        svg {
            color: $primary;
            font-size: 18px;
        }
    }

    .buttons {
        margin-top: 20px;
    }
}

#video-section {
    text-align: center;
    padding: 50px 0;
    background: $primary;
    color: $white;

    h3 {
        font-weight: bold;
    }

    p {
        margin: 20px 0;
        font-size: 24px;
    }

    svg {
        width: 80px !important;
        height: 80px !important;
        background: $white;
        color: $primary;
        padding: 18px 7px 20px 14px;
        border-radius: 55%;
    }
}

#blog-section {
    padding: 80px 0;

    .title-div {
        @extend %title;

        p {
            margin: 30px 0 !important;
        }
    }

    .custom-card {
        border: none !important;

        @include respond-to(smallDevices)
        {
            margin-bottom: 40px !important;
        }

        .card-body {
            padding: 40px 0 0 !important;

            h5 {
                font-weight: bold;
            }
        }
    }
}

footer {
    background: $primary;
    padding: 40px 0 20px;

    p {
        color: $white;
        font-size: 18px;
    }
}