$theme-colors: (
  "info": #7eff4b,
  "danger": #ff50f0,
  "primary": #0095ff,
  "secondary": rgb(84, 211, 218)
);

$body-color: #192534;

$border-radius: 1.25rem;

@import "node_modules/bootstrap/scss/bootstrap";