$theme-colors: (
  "info": #7eff4b,
  "danger": #ff50f0,
  "primary": #0095ff,
  "secondary": #28a745
);

$theme-colors: (
  "custom-color": #900
);

$body-color: #192534;

$border-radius: 1.25rem;

@import "node_modules/bootstrap/scss/bootstrap";